extends layout

block content
	h1= title

	iframe(src= "https://www.google.com/maps/embed/v1/view?zoom=5&center=46.2276%2C2.2137&key=AIzaSyCj_qgr3LfNBLsrQCjTx13z6xF-awzjA98", height= '450', width= '600', frameborder= '0', style="border:0")
	
	a(href='#', id='add-rectangle') Add a rectangle
	div(id='box-container')
	a(href='#', id='report-area')
  


