extends layout

block content
<<<<<<< HEAD
	h1= title
	initialize()
	
	

=======
  h1= title
  p Welcome to #{title}
  a(href='#', id='add-rectangle') Add a rectangle
  div(id='box-container')
  a(href='#', id='report-area')
>>>>>>> a390ac4fee488d6eeb0833407c5f7fc8a54f5c75
