extends layout

block content
	h1= title
	p I know you miss Katrina and who she is and stuff like that but know that too much is too much. You can either go hang out with her more, which you clearly want to but never have enough courage to ask or just slowly stray away from her as a friend which you clearly do not want. So Just go for it! 
	h2= motivation

	iframe(src= "https://www.google.com/maps/embed/v1/view?zoom=5&center=46.2276%2C2.2137&key=AIzaSyCj_qgr3LfNBLsrQCjTx13z6xF-awzjA98", height= '450', width= '600', frameborder= '0', style="border:0")

  


