doctype html5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDzpK8nIfBqU-NNtxSCxtIAdkXHggKCxPY')
    script(src='javascripts/destruction.js')
    
    block content

