doctype html5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDzpK8nIfBqU-NNtxSCxtIAdkXHggKCxPY')
    script(src='javascripts/destruction.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    script(src='javascripts/interact.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/react/0.12.2/JSXTransformer.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/react/0.12.2/react.js')
    script(type='text/jsx', src='javascripts/rectangles.jsx')  
    block content
    
  body
    block content