body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding-top: 30px;
}

/*html { 
  background: url(http://b.fastcompany.net/multisite_files/fastcompany/imagecache/1280/poster/2014/02/3026089-poster-p-1-ask-the-experts-how-do-i-find-the-motivation-to-get-to-the-next-stage-of-my.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
*/
a {
  color: #00B7FF;
}

.hitbox {
  border: solid 2px blue;
}

#map-canvas {
  margin-top: 40px;
  width: 80%;
  height: 80%;
  background-color: #999;
  margin: 0 auto;
}