body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding-top: 30px;
}

a {
  color: #00B7FF;
}

.hitbox {
  border: solid 2px blue;
}

#map-canvas {
  margin-top: 40px;
  width: 80%;
  height: 80%;
  background-color: #999;
  margin: 0 auto;
}